<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header">
      <div>
      <ul class="header--ul">
        <li><a href="#">Productos</a></li>
        <li><a href="#">Comercios</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Quienes somos</a></li>
        <li><a href="#">Asistencia</a></li>
      </ul>
    </div>
    <div>
    </div>
    </header>
    <main class="main--home">
      <section class="section--mostPurchased">
        <div>
          <p>Productos mas comprados</p>
        </div>
        <div>
          <ul>
            <li>Gaseosa</li>
            <li>Gaseosa</li>
            <li>Gaseosa</li>
            <li>Gaseosa</li>
          </ul>
        </div>
      </section>
      <section class="section--locals">
        <div class="div--locals">
          <a href="/products">
          <img class="local--img" src="/images/istockphoto-1361979526-612x612.jpg" alt="">
          <div>
            <h2>este es el nombre del local</h2>
          </div>
        </div>
        <div class="div--locals">
          <img class="local--img" src="/images/istockphoto-1361979526-612x612.jpg" alt="">
          <div>
            <h2>este es el nombre del local</h2>
          </div>
        </a>
        </div> 
      </section>
      <section class="section--advertisements">
        <p>ANUNCIOS</p>
        <img class="advertisements--img" src="/images/apoye-concepto-negocio-local_23-2148592675.avif" alt="">
      </section>
    </main>

  </body>
</html>
