<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include('./partials/header') %>

    <main class="main--products">
      <section class="section--mostPurchased">
        <div>
          <p>Productos mas comprados</p>
        </div>
        <div>
          <ul>
            <li>Gaseosa</li>
            <li>Gaseosa</li>
            <li>Gaseosa</li>
            <li>Gaseosa</li>
          </ul>
        </div>
      </section>
      <section class="products--section">
        <div class="products--div">
        
          <img class="products--img" src="/images/istockphoto-1361979526-612x612.jpg" alt="">
          <div>
            <h2>este es el nombre del local</h2>
          </div>
        </div>
        <div class="products--div">
          <img class="products--img" src="/images/istockphoto-1361979526-612x612.jpg" alt="">
          <div>
            <h2>este es el nombre del local</h2>
          </div>
          </div>
          <div class="products--div">
            <img class="products--img" src="/images/istockphoto-1361979526-612x612.jpg" alt="">
            <div>
              <h2>este es el nombre del local</h2>
            </div>
          </div>
          
          <div class="products--div">
            <img class="products--img" src="/images/istockphoto-1361979526-612x612.jpg" alt="">
            <div>
              <h2>este es el nombre del local</h2>
            </div>
          </div>
          
          <div class="products--div">
            <img class="products--img" src="/images/istockphoto-1361979526-612x612.jpg" alt="">
            <div>
              <h2>este es el nombre del local</h2>
            </div>
          </div>       
          
          <div class="products--div">
            <img class="products--img" src="/images/istockphoto-1361979526-612x612.jpg" alt="">
            <div>
              <h2>este es el nombre del local</h2>
            </div>
          </div>
      </section>
      <section class="section--advertisements">
        <p>ANUNCIOS</p>
        <img class="advertisements--img" src="/images/apoye-concepto-negocio-local_23-2148592675.avif" alt="">
      </section>
    </main>

  </body>
</html>
