
<header class="header">
    <div>
    <ul class="header--ul">
      <li><a href="/products">Productos</a></li>
      <li><a href="#">Comercios</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Quienes somos</a></li>
      <li><a href="#">Asistencia</a></li>
    </ul>
  </div>
  <div>
  </div>
  </header>